[Unit]
Description=meowland Wayland compositor

[Service]
Type=simple
ExecStart=meowland server
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=default.target
