[Unit]
Description=meowland Wayland compositor
Requires=meowland.socket
After=meowland.socket

[Service]
Type=notify
NotifyAccess=main
ExecStart=meowland server
Restart=on-failure
RestartSec=1s
UMask=0077

[Install]
Also=meowland.socket
